In [40]:
#import the pandas library
import pandas as pd

In [41]:

#read/load the data sets as ds
ds = pd.read_csv('raw data.csv')

In [42]:
ds

,order_id,customer_name,product,category,order_date,quantity,price
0,1001,John Doe,Laptop,Electronics,2024-01-05,1.0,750.0
1,1002,Jane Smith,Phone,electronics,05/01/2024,2.0,500.0
2,1003,Mike Brown,Tablet,Electronics,2024/01/06,NaN,300.0
3,1004,Anna White,Laptop,Electronics,2024-01-07,1.0,750.0
4,1004,Anna White,Laptop,Electronics,2024-01-07,1.0,750.0
5,1005,Chris Green,Headphones,Electronic,07-01-2024,3.0,50.0
6,1006,NaN,Phone,Electronics,2024-01-08,1.0,500.0
7,1007,David Black,Tablet,electronics,2024/01/09,2.0,300.0
8,1008,Emily Stone,Laptop,Electronics,09/01/2024,1.0,NaN
9,1009,John Doe,Phone,Electronics,2024-01-10,1.0,500.0

In [43]:

#check the number of rows and columns
print(f'we have {ds.shape[0]} rows and {ds.shape[1]} columns')

we have 10 rows and 7 columns

In [ ]:
#standardise incosistent data in categorical collumns formats i.e remove accidental white spaces and standardize lowercase

ds['customer_name'] = ds['customer_name'].str.strip().str.lower()
ds['product'] = ds['product'].str.strip().str.lower()
ds['category'] = ds['category'].str.strip().str.lower()

In [44]:
#check for  missing values
print(ds.isnull().sum())

order_id         0
customer_name    1
product          0
category         0
order_date       0
quantity         1
price            1
dtype: int64

In [46]:
# filling of the missing values
ds['customer_name'] = ds['customer_name'].fillna('unknown')
ds['quantity'] = ds['quantity'].fillna(ds['quantity'].median())
ds['price'] = ds['price'].fillna(ds['price'].median())

In [47]:
ds

,order_id,customer_name,product,category,order_date,quantity,price
0,1001,John Doe,Laptop,Electronics,2024-01-05,1.0,750.0
1,1002,Jane Smith,Phone,electronics,05/01/2024,2.0,500.0
2,1003,Mike Brown,Tablet,Electronics,2024/01/06,1.0,300.0
3,1004,Anna White,Laptop,Electronics,2024-01-07,1.0,750.0
4,1004,Anna White,Laptop,Electronics,2024-01-07,1.0,750.0
5,1005,Chris Green,Headphones,Electronic,07-01-2024,3.0,50.0
6,1006,unknown,Phone,Electronics,2024-01-08,1.0,500.0
7,1007,David Black,Tablet,electronics,2024/01/09,2.0,300.0
8,1008,Emily Stone,Laptop,Electronics,09/01/2024,1.0,500.0
9,1009,John Doe,Phone,Electronics,2024-01-10,1.0,500.0

In [48]:

#check for duplicate values
print(ds.duplicated().sum())

1

In [49]:

#remove duplicate values

ds = ds.drop_duplicates()

In [50]:
ds

,order_id,customer_name,product,category,order_date,quantity,price
0,1001,John Doe,Laptop,Electronics,2024-01-05,1.0,750.0
1,1002,Jane Smith,Phone,electronics,05/01/2024,2.0,500.0
2,1003,Mike Brown,Tablet,Electronics,2024/01/06,1.0,300.0
3,1004,Anna White,Laptop,Electronics,2024-01-07,1.0,750.0
5,1005,Chris Green,Headphones,Electronic,07-01-2024,3.0,50.0
6,1006,unknown,Phone,Electronics,2024-01-08,1.0,500.0
7,1007,David Black,Tablet,electronics,2024/01/09,2.0,300.0
8,1008,Emily Stone,Laptop,Electronics,09/01/2024,1.0,500.0
9,1009,John Doe,Phone,Electronics,2024-01-10,1.0,500.0

In [51]:
ds.to_csv("cleaned_data.csv" , index=True)